.about-company {
    width: 1170px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    &__mobile-text {
      display: none;
    }

    &__wrapper {
      margin-left: 180px;
      margin-right: 20px;
      padding-top: 47px;
      padding-bottom: 108px;

      & h2 {
        @include h2-style();
        margin-bottom: 20px;
      }

      & p {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
      }

      & a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        color: #00B2FF;
        font-family: "Roboto Condensed", "Tahoma", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.05em;

        width: 180px;
        height: 45px;
        padding-top: 14px;
        margin-top: 40px;

        border: 1px solid #00B2FF;
        box-sizing: border-box;
        border-radius: 5px;

        &:hover {
          background-color: #00B2FF;
          color: #ffffff;
        }

        &:active {
          opacity: 0.5;
        }
      }
    }

    &__year {
      font-family: "Roboto Condensed", "Tahoma", sans-serif;
      font-weight: 700;
      font-size: 156.248px;
      line-height: 156.248px;

      display: block;
      position: absolute;
      width: 115px;
      height: 305px;
      top: 87px;
      left: 3px;
      background: url("../img/year-bg.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;


      & p {
        transform: rotate(-90deg);
        position: absolute;
        margin: 0;
        top: 73px;
        left: -98px;
        -webkit-transition: text-shadow 1s ease;
        text-shadow: 0 0 1px rgba(0, 0, 0, .1);
        color: #fff;
      }
    }
  }


@media (max-width: $desktop-width-min) {
  .about-company {
    width: 100%;

    &__mobile-text {
      display: inline;
    }

    &__desktop-text {
      display: none;
    }

    &__wrapper {
      margin-left: 209px;
      margin-right: 25px;
      padding-top: 0;
      padding-bottom: 85px;

      & h2 {
        margin-bottom: 23px;
      }

      &  p {
        margin-bottom: 20px;
        max-width: 712px;
      }
    }

    &__year {
      font-size: 178.324px;
      top: 0px;
      left: 25px;
      width: 136px;
      height: 365px;

      & p {
        top: 100px;
        left: -112px;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .about-company {

    &__year {
      display: none;
    }

    &__wrapper {
      margin-left: 17px;
      margin-right: 15px;
      padding-top: 0;
      padding-bottom: 65px;

      & h2 {
        margin-bottom: 20px;
        margin-top: 39px;
      }

      &  p {
        margin-bottom: 40px;
      }

      & a {
        margin-top: -11px;
      }
    }
  }
}
