.popup {
  width: 490px;
  min-height: 605px;
  box-sizing: border-box;
  padding: 30px 40px 36px 40px;
  position: fixed;
  background-color: #00b2ff;
  top: calc((100vh - 605px) / 2);
  left: calc(50% - 245px);
  z-index: 10;

  & h2 {
    @include h2-style();
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 12px;
    width: 100%;
    font-size: 28px;
    line-height: 39px;

  }

  & p {
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 30px;
    width: 382px;
  }

  &__close {
    position: absolute;
    width: 16.5px;
    height: 16.5px;
    top: 17px;
    right: 22.5px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 22.4px;
      height: 1px;
      background-color: #FFFFFF;
      top: 10.7px;
      left: 0;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 22.4px;
      background-color: #FFFFFF;
      top: 0;
      left: 10.7px;
      transform: rotate(45deg);
    }

    &:hover {
      &::before {
        background-color: #1B2D37;
      }

      &::after {
        background-color: #1B2D37;
      }
    }

  }

  &__form {
    width: 100%;
    position: relative;
    z-index: 1;


    & input {
      width: 100%;
      height: 52px;
      box-sizing: border-box;
      padding-left: 23px;
      padding-right: 19px;
      margin-bottom: 31px;
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid transparent;
      color: #FFFFFF;

      &::placeholder {
        color: #FFFFFF;
      }
    }

    & textarea {
      width: 100%;
      height: 104px;
      border: none;
      box-sizing: border-box;
      padding: 13px 23px;
      background: rgba(255, 255, 255, 0.1);
      color: #FFFFFF;
      resize: none;

      &::placeholder {
        color: #FFFFFF;
      }
    }

    & button {
      @include button-style();
      width: 100%;
      height: 45px;
      margin-top: 26px;
      border: 1px solid #FFFFFF;
      font-size: 14px;
      line-height: 16px;
      cursor: pointer;

      &:hover {
        border: 1px solid #00b2ff;
        color: #00b2ff;
        background-color: #FFFFFF;
      }

      &:active {
        opacity: 0.5;
      }
    }

  }

  &__checkbox {
    width: 100%;
    position: relative;
    margin-top: 34px;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.8;

    & input {
      @include visually-hidden()
    }

    & label {
      display: block;
      width: 340px;
      margin-left: 48px;
      margin-top: 10px;
      cursor: pointer;

      &:hover {
        color: #1B2D37;
      }
    }

    & input + label .checkbox-indicator {
      position: absolute;
      top: 3px;
      left: 0;
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      border: 1px solid #FFFFFF;
      background-color: #00b2ff;

    }

    & input:checked + label .checkbox-indicator {
      position: absolute;
      top: 3px;
      left: 0;
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      border: 1px solid #FFFFFF;
      background-color: #00b2ff;
      background-image: url("../img/checkbox-ok.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__button {
    @include button-style();
    width: 100%;
    height: 45px;
    margin-top: 26px;
    border: 1px solid #FFFFFF;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;

    &:hover {
      border: 1px solid #00b2ff;
      color: #00b2ff;
      background-color: #FFFFFF;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__error-message {
    font-size: 13px;
    color: crimson;

    &--name {
      position: absolute;
      top: 60px;
      left: 15px;
    }

    &--phone {
      position: absolute;
      top: 143px;
      left: 15px;
    }
  }

  &--success,
  &--error {
    min-height: 200px;
    top: calc((100vh - 200px) / 2);

    & h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    & p {
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }
}

.popup--closed {
  display: none;
}
