$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1439px;
/*$tablet-width: 1439px;
$desktop-width: 1023px;*/
$desktop-width-max: 1440px;
$desktop-width-min: 1200px;

/*$primary: #275efe;
$headline: #3F4656;
$text: #99A3BA;*/
